{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Crypto Market Insights</h1>
  <p>Welcome to Crypto Django API!</p>

  <div id="app">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Current Price</th>
      </tr>
      </thead>

      <tbody id="myTable">
      {% for cryptocurrency in cryptocurrency_list %}
        <tr onclick="document.location = '{{ cryptocurrency.name }}';">
          <td class="align-middle">{{ cryptocurrency.rank }}</td>
          <td>
            <h5>
              {% if cryptocurrency.image %}
                <span><img src="{{ cryptocurrency.image }}" class="px-2"
                           alt="{{ cryptocurrency.name }} Logo"
                           width="50"></span>
              {% else %}

                <span><img src="{% static 'logos/base_logo.png' %}"
                           class="px-2"
                           alt="{{ cryptocurrency.name }} Logo"
                           width="50"></span>
              {% endif %}
              <span
                  style="color: rgb(0, 35, 208);">{{ cryptocurrency.name }}</span>
              /
              <span
                  style="color: rgb(85, 85, 85)">{{ cryptocurrency.symbol }}</span>
            </h5>
          </td>
          <td class="align-middle">
            <h5>$ {{ cryptocurrency.current_price }}</h5>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
